@charset "UTF-8";

.btn-pro-color2 {
	background-color: #dbd0be;
	border-color: #dbd0be;
}

.btn-pro-color1 {
	background-color: #eeeee6;
	border-color: #eeeee6;
}

.font-center>th {
	text-align: center;
}

.font-center>td {
	text-align: center;
}

.btn-size-t {
	width: 60px;
	height: 40px;
}

/*=============================================
[ Header admin ]*/
.wrap-header-admin {
	position: fixed;
	z-index: 1100;
	width: 100%;
	height: 100vh;
	top: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.0);
	visibility: hidden;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}

.header-admin {
	position: fixed;
	z-index: 1100;
	width: 590px;
	max-width: calc(100% - 30px);
	height: 100vh;
	top: 0;
	right: -400px;
	background-color: #fff;
	-webkit-transition: all 0.4s;
	-o-transition: all 0.4s;
	-moz-transition: all 0.34;
	transition: all 0.4s;
	box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
	-moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
	-webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
	-o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
	-ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.header-admin::after {
	content: "";
	display: block;
	width: 100%;
	height: 9%;
	min-height: 30px;
}

.show-header-admin {
	visibility: visible;
	background-color: rgba(0, 0, 0, 0.6);
}

.show-header-admin .header-admin {
	right: 0;
}

/*---------------------------------------------*/
.header-admin-title {
	width: 100%;
	max-width: 100%;
	height: 16.5%;
	min-height: 85px;
}

.header-admin-content {
	flex-grow: 1;
	overflow: auto;
	align-content: space-between;
}

.header-admin-wrapitem {
	flex-grow: 1;
}

/*---------------------------------------------*/
.header-admin-item-img {
	width: 100%;
	position: relative;
	margin-right: 20px;
	cursor: pointer;
}

.header-admin-item-img img {
	width: 100%;
}

/*---------------------------------------------*/
.header-admin-item-txt {
	width: calc(100% - 80px);
}

.header-admin-item-name {
	display: block;
	font-size: 14px;
	color: #555;
	line-height: 1.3;
}

.header-admin-item-info {
	display: block;
	font-size: 14px;
	color: #888;
	line-height: 1.5;
}

.header-admin-total {
	font-size: 18px;
	color: #222;
	line-height: 1.3;
}

.wrap-search-admin {
	border: 2px solid #e6e6e6;
	background: #fff;
}

.w-2full {
	width: 200%;
}

.col-sm-12-add, col-lg-12-add {
	position: relative;
	width: 100%;
	min-height: 1px;
}

.col-lg-12-add {
	-ms-flex: 0 0 100%;
	flex: 0 0 100%;
	max-width: 100%;
}

.p-t-20-admin-td td{
	padding-top: 20px;
}

.table_row_admin td {
  padding: 15px 0px;
}

.button1 {
  background-color: #dbd0be;
  color: black;
  border: 2px solid #dbd0be; 
}