@charset "UTF-8";

.table-checkout {
  border-collapse: collapse;
  font-size: 14px;
  width: 100%;
  min-width: 800px;
}

.table-checkout tr {
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #e6e6e6;
}

.table-checkout .table_row {
  border-collapse: collapse;
  min-height: 70px;
}

.table-checkout .table_row td {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 13px;
}

.table-checkout .column-1 {
  width: 50px;
  text-align: center;
  padding-left: 20px;
}

.table-checkout .column-2 {
  width: 500px;
  text-align: center;
}

.table-checkout .column-3 {
  width: 50px;
  text-align: center;
}

.table-checkout .column-4 {
  width: 70px;
  text-align: right;
}

.table-checkout .column-5 {
  width: 70px;
  text-align: right;
}

.table-checkout .column-6 {
  width: 70px;
  text-align: right;
}

.table-checkout .column-7 {
  width: 70px;
  text-align: right;
  padding-right: 20px;
}


.table-checkout .table_head th {    
  font-size: 13px;
  color: #555;
  text-transform: uppercase;
  line-height: 1.6;
  padding-top: 15px;
  padding-bottom: 15px;
}



.item {
  width: 60px;
  position: relative;
  cursor: pointer;
}

.item img {
  width: 100%;
}



.link,
.link:link,
.link:visited,
.link:hover,
.link:active {
  color : rgb(102, 102, 102);
}