@charset "UTF-8";
.table-order {
	border-collapse: collapse;
	width: 100%;
	border-color: #dbd0be;
	height: 100%;
}
.lineframe {
	border-bottom: 0.5px solid #dbd0be;
}
.framsize {
	width:90px;
	padding: 0;
	margin: 0;
}
td {
	width: 65px;
	height: 30px;
	margin: 0px auto;
}
th {
	width: 70px;
	height : 30px;
	margin: 0px auto;
	text-align: center;
}
.ft{
	font-size: 12pt;
}

.ft>td {
	font-size: 11pt;
}
.tcenter {
	text-align: center;
}
.tright {
	text-align: right;
}
.tleft {
	text-align:left; 
	padding-left: 10px;
}
.adt-light {
	background-color: #eeeee6;
	text-align: center;
}

.shortsp {
	display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.adtable {
	background-color: #dbd0be;
	color: black;
	text-align: center;
}

.table-order tr {
	height: 35px;
	text-align: center;
}

.table_row_order td {
  padding: 15px 0px;
}








/*=============================================
[ Header admin ]*/
.wrap-header-admin {
    position: fixed;
    z-index: 1100;
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.0);
    visibility: hidden;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
}

.header-admin {
    position: fixed;
    z-index: 1100;
    width: 700px;
    max-width: calc(100% - 30px);
    height: 100vh;
    top: 0;
    right: -400px;
    background-color: #fff;
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.34;
    transition: all 0.4s;
    box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -moz-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -webkit-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -o-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
    -ms-box-shadow: 0 3px 6px 0px rgba(0, 0, 0, 0.18);
}

.header-admin::after {
    content: "";
    display: block;
    width: 100%;
    height: 9%;
    min-height: 30px;
}

.show-header-admin {
    visibility: visible;
    background-color: rgba(0, 0, 0, 0.6);
}

.show-header-admin .header-admin {
    right: 0;
}

/*---------------------------------------------*/
.header-admin-title {
    width: 100%;
    max-width: 100%;
    height: 10%;
    min-height: 85px;
}

.header-admin-content {
    flex-grow: 1;
    overflow: auto;
    align-content: space-between;
}
/*---------------------------------------------*/

.w-2full {
    width: 200%;
}