@charset "UTF-8";
.shortsp {
	display:block;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}
.adtable {
	background-color: #dbd0be;
	color: black;
	text-align: center;
}
.adt-light {
	background-color: #eeeee6;
	text-align: center;
}
.table-checkout tr {
	height: 35px;
	text-align: center;
}
.cash {
	text-align: right;
}


